
/**
 * ${table.tableClassName}クラス<br>
 */
public class ${table.tableClassName} #if(${table.extendsClass} != "") extends ${table.extendsClass} #end {

#foreach(${colBean} in ${table.colBeanList})
    /** ${colBean.columnComment} */
    private ${colBean.columnDataType} ${colBean.columnCamelName};
#end


#foreach(${colBean} in ${table.colBeanList})
    /**
     * ${colBean.columnComment}を設定します。
     * @param ${colBean.columnCamelName} ${colBean.columnComment}
     */
    public void set${colBean.columnPascalName}(${colBean.columnDataType} ${colBean.columnCamelName}) {
        this.${colBean.columnCamelName} = ${colBean.columnCamelName};
    }
#end

}